


.heading2
{
    color: white;
    position: absolute;
    left: 350px;
    bottom: 0px;
 top: 100px;
    

}
.heading3{
    color:white;
    top: 150px;
    position: absolute;
    left: 350px;
  
}
.heading5{
    position: absolute;
    margin-top: 1%;
}
.heading6{
    position:absolute;
margin-left:1000px;
margin-top:1%;


}
.heading7{
    position:absolute;
    margin-top:1%;
margin-left: 490px;


}
.red{
position:absolute;
margin-top: 30%;
font-size: 30px;

}

.red1{
position:absolute;
margin-top:33%;
}
.white{

    position:absolute;
    margin-top:30%;
    left: 80%;
    font-size: 30px;
}
.white1{
    position:absolute;
    margin-top:33%;
    
    left:80%;
}
.sparkling{
    position:absolute;
    margin-top:30%;
    left:35%;
    font-size: 30px;
    
}
.sprakling1{
    position:absolute;
    margin-top:33%;
    left:35%;
    }
    .height{
        
        position:absolute;
        margin-top:5%;
    }
    .V{
        
        font-size: 33px;
        
    }
    .V1{
        position: absolute;
        margin-top: -19%;
        left: 140%;
        
    }
    .P5{
        position: absolute;
        bottom: 5%;
    }
.form1{
    margin-top:37%;
}
.form2{
    position: absolute;
margin-left: 80%;
margin-top:-2%;
}
.form3{
    position:absolute;
    margin-top: -2%;
margin-left:40%
}

.height5{
        
    position:absolute;
    margin-top:25%;
    
    }
    .p7{
        position: absolute;
        margin-top: 36%;
       left: 50%;
      
    }
    .l{position: absolute;
        margin-top: 33%;
        left: 50%
        
    }


    .height4{
        
        position:absolute;
        margin-top:50%;
    }
    .V8{
        
        font-size: 33px;
        
    }
    .V18{
        position: absolute;
        margin-top: -10%;
        left: 180%;
        
    }
    .P10{
        position: absolute;
        
    }